html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 12px;
}

/* my typical main card styling */
.container {
  background-color: lightgray;
  border-radius: 15px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;

  /* Height at which footer collapses; 40px + 20px space between card and footer */
  margin-bottom: 60px;
}

/* time block card styling */
.tm-bloc-contain {
  border-radius: 15px;

  /* border color set to match nav bar theme */
  border: 1px solid #212529;

  /* space size between each time block card */
  margin-bottom: 5px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #343A40;
  border-radius: 0;

  /* added padding of 20px to reduce the size of the jumbotron container */
  padding: 20px;


  /* make line divider 1 px high */
  border-bottom: 1px solid #212529;

  /* set margin between the jumbotron bottom border and the scheduler container equal to the margin between scheduler container and footer */
  margin-bottom: 20px;
}

.description{
  white-space: pre-wrap;

  /* set text box font equal to the hour text font of 11px */
  font-size: 11px;
}

.time-block{

  /* keeps the three div's in the timeblock container inline */
  display: inline-flex;

  /* keeps hour text, and save icon center within their respective div's */
  text-align: center;
}

.hour {

  /* background color set to match the nav-bar theme */
  background-color: #343A40;

  /* text color set to match nav-bar theme */
  color: #ffffff;

  font-size: 11px;
  padding: 2px;

  /* controls the height of each time block div in this layout. keeping them equal centers hour text */
  padding-top: 25px;
  padding-bottom: 25px;

  /* top radius set to mathch the time block container radius */
  border-top-left-radius: 15px;

  /* bottom radius set to overlap the time block container to hide white space */
  border-bottom-left-radius: 14px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

::placeholder {
  color: #343A40;
}

.saveBtn {
  border-left: 1px solid #212529;
  border-top-right-radius: 15px;

  /* bottom radius set to overlap the time block container to hide white space */
  border-bottom-right-radius: 14px;
  padding-left: 5px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* Sticky footer properties */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 40px;

  /* Vertically center the text there */
  line-height: 40px; 
  color: white;
  text-align: center;
  font-size: 14px;
}